@import 'https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300';

.logo{
	font-family: 'Amatic SC', cursive;
	text-align: center;
	padding-top: 23px;
	font-size: 45px;
	
}

#circle {
	width: 200px;
	height: 100px;
	background: red;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;



/*
	width: 150px;
	height: 150px;
	background: red;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	*/
}

.reserveNow{
	background-color: #F0F8FF;
	padding:20px;

}

.customerReviews{
	margin:30px 0 20px 0;
}

.customerAuth{
	border-right: 1px dotted #c1c1c1;
	
}
.customerQuote{
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	
	background-color: #00008B;
	color: #ffffff;
	display: block;
}

body{
	font-family: 'Open Sans Condensed', sans-serif;

}


h4{
	font-weight: bold;
	font-size: 20px;
}


.header h2{
	color:#333333;
	font-size: 24px;
	text-align: center;
	margin-top:10px;
}


h3{
	text-align: center;
	background-color: red;
	display: block;
	color:#ffffff;
	width: 45%;
	margin: 0 auto 30px auto;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;

}


.comeDine{
 margin-top: 50px;

}


.header{
	background: transparent url('../images/toms-restaurant.jpg');

	background-position: 0 -859px;
	position: relative;
	height: 200px;
	margin-bottom: 150px;
}

.header h1{
	
	margin:150px auto 0 auto;
}

.content{

	background-color:#ffffff;
	
	display: block;
}

#map {
        height: 200px;
    }  

#bg {
  /*position: fixed; */
  top: -30%; 
  left: -50%; 
  width: 100%; 
  
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  width:1240px;
}